[submodule ".vim/pack/plugins/start/vim-multiple-cursors"]
	path = .vim/pack/plugins/start/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
[submodule ".vim/pack/plugins/start/vim-better-whitespace"]
	path = .vim/pack/plugins/start/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace
[submodule ".vim/pack/plugins/start/lightline"]
	path = .vim/pack/plugins/start/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule ".vim/pack/plugins/start/ctrlp.vim"]
	path = .vim/pack/plugins/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule ".vim/pack/plugins/start/vim-surround"]
	path = .vim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
